# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*
/logs
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.seed
*.sqlite

# Env Files
.env
.env.*.local

# Sequelize Config and Migrations
/sequelize-cli.log
/database.sqlite

# OS files
.DS_Store
Thumbs.db

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.bak
*.tmp

# Coverage Directory used by Jest or other coverage tools
/coverage/

# Miscellaneous
*.lock
*.tgz
.cache/
.tmp/

# Docker
docker-compose.override.yml